.env
 
# Pycharm
.idea
 
# Python
__pycache__/
*.py[cod]
venv/
.venv/
 
# Database files
*.db
*.sqlite
 
# Node
node_modules/
dist/

# Frontend
frontend/.env
frontend/.env.local
frontend/.env.*.local
 
# OS
.DS_Store
Thumbs.db